@model TatilSeyahat.Models.Sınıflar.Hakkimizda
@{
    ViewBag.Title = "Hakkimizdaadmin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@if (TempData["Başarılı"] != null)
{
    <script> swal("İşlem Başarılı!", "Kayıt Eklendi", "success"); @*swal({icon: "success",title: "Kayıt Başarılı",})}*@ </script>}
@if (TempData["Hata"] != null)
{
    <script>swal("HATA!", "İşlem Sırasında Bir Hata Oluştu", "error");</script>}

<h2>Hakkimizda</h2>

@using (Html.BeginForm("HakkimizdaGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(x => x.Baslik, "Başlık")
    @Html.TextAreaFor(x => x.Baslik, new { @class = "form-control", })
    <br />
    @Html.LabelFor(x => x.Aciklama, "Açıklma")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "ckeditor form-control", id = "YaziOnu" })

    <script type="text/javascript">

                            CKEDITOR.replace(YaziOnu ,{
filebrowserBrowseUrl:'../fileman/index.html',
filebrowserImageBrowseUrl:'../fileman/index.html?type=image',
removeDialogTabs: 'link:upload;image:upload'
});
    </script>
    <br />

    <div class="social-box">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-xs-12 text-center">
                    <div class="box">
                        <label for="photo">Resmi Değiştir:</label>
                        <input type="file" onchange="ResimGoster(this)" name="BlogImage" id="BlogImage" />

                        <img id="etResim" height="300" />



                        @*<img id="etResim"  height="300" />*@
                    </div>
                </div>

                <div class="col-lg-5 col-xs-12  text-center">
                    <div class="box">
                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                        <label>Kayıtlı Resim</label><br />
                        <img id="KayitliResim" style="margin-top:22px" src="~/uploads/@Model.FotoUrl" height="300" />

                    </div>
                </div>









            </div>
        </div>
    </div>
    <button class="btn btn-primary" id="ekle">Ekle</button>


}
<script type="text/javascript">
    function ResimGoster(input){
    if (input.files && input.files[0]){
        var filerdr =new FileReader();
        filerdr.onload = function (e){
            $('#etResim').attr('src',e.target.result);
        }
        filerdr.readAsDataURL(input.files[0]);
    }
   }
</script>