@using TatilSeyahat.Models.Sınıflar

@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<h2>Blok Listesi</h2>
@if (TempData["Başarılı"] != null)
{
    <script> swal("İşlem Başarılı!", "Kayıt Eklendi", "success"); @*swal({icon: "success",title: "Kayıt Başarılı",})}*@ </script>}
@if (TempData["Hata"] != null)
{
    <script>swal("HATA!", "İşlem Sırasında Bir Hata Oluştu", "error");</script>}
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            @*<th>İD</th>*@
            <th>Sıra</th>
            <th>Başlık</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    @{ int i = 0;}
    @foreach (var x in Model)
    {
        <tr>
            @*<td>@x.ID</td>*@
            <td>@{i++;}@i</td>
            <td>@x.Baslik</td>
            @*<td><a class="btn btn-danger" data-target="#silblog" href="/Admin/BlogSil/@x.ID">Sil</a></td>*@


            <td><a class="btn btn-danger" data-target="#silblog" onclick="JavaSend(@x.ID)">Sil</a></td>



            <td><a class="btn btn-warning" href="/Admin/BlogGetir/@x.ID">Güncelle</a></td>
            <td><a class="btn btn-default" href="#">Detaylar</a></td>
        </tr>
    }

</table>
<a class="btn btn-primary" href="/Admin/YeniBlog">Yeni Blog Ekle</a>


@*@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))*@
<script>
        function JavaSend(id){
        var link ="/Admin/BlogSil/"+id;
        $("#modalLink").attr("href", link);
        $("#silblog").modal();
        }
</script>
<!--Modal-->
<div class="modal fade" id="silblog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#E55F4D; color:white; text-align:center">
                <h3 class="modal-title" style="margin-top:5px;">Kayıt Silme Onayı</h3>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <h3><span aria-hidden="true">&times;</span></h3>
                    </button>*@
            </div>
            <div class="modal-body text-center">
                <h5 style="font-weight:bold">Kayıt Silinecektir, Bu Kaydı Silmek İstediğinize Emin Misiniz ?</h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger pull-right" style="margin:5px" id="modalLink"> SİL</a>
                <button type="button" style="margin:5px" class="btn btn-primary pull-right" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>



@*<script>
            jQuery.fn.DataTable.ext.type.search.string = function(data) {
            var testd = !data ?
                '' :
                typeof data === 'string' ?
                data
                .replace(/i/g, 'İ')
                .replace(/ı/g, 'I') :
                data;
            return testd;
            };

            var table = $('#tbl1').DataTable({});

            $('#tbl1_filter input').keyup(function() {

            table
                .search(
                jQuery.fn.DataTable.ext.type.search.string(this.value)
                )
                .draw();


            });
    </script>*@

 




<script>
        $('#tbl1').DataTable({


            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty:      "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                lengthMenu: "Sayfada _MENU_ kayıt göster",
                zeroRecords: "Tablo boş",
                search: "Arama:",
                infoFiltered:   "(toplam _MAX_ kayıttan filtrelenenler)",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess:"Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },

                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
    

            }

       

   

        });
</script>



 